name: GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Install Material for MkDocs
        run: pip install mkdocs-material

      - name: Install MkDocs Awesome Pages Plugin
        run: pip install mkdocs-awesome-pages-plugin

      - name: Deploy GitHub Pages
        run: mkdocs gh-deploy --force
